{% import "macro.html" as macro %}

<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
      <title>Learn Bitcoin Testnet</title>
      <!-- <link rel="icon" sizes="16x16" href="images/favicon.ico"> -->
      <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/fonts.css") | safe }}">
      <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/styles.css") | safe }}">
      <link rel="stylesheet" type="text/css" href="{{ get_url(path="css/extra.css") | safe }}">
    </head>

    <body>
      
      <div class="docs-content-container">

        <nav class="docs-sidebar">
          <div id="subnav">
            <form class="theme-selector" style="font-size: 2rem;">
              <button type="button" id="theme-light-button" class="theme-button" onclick="enableTheme('light', true)" style="font-size: 2rem; padding-bottom: 4px;">&#9706;</button>
              <button type="button" id="theme-dark-button"  class="theme-button enabled" onclick="enableTheme('dark', true)" style="font-size: 2rem; padding-bottom: 4px;">&#9705;</button>
            </form>
            <a href="/" style="margin-right: 1rem; font-size: 2rem;">&#8962;</a>
            <a href="/search" style="font-size: 2rem;">&#8981;</a>
            <a href="javascript:void(0);" style="margin-left: 1rem; line-height: 50px;" onclick="burger()" id="mobile" style="font-size: 2rem;">&#9776;</a>
          </div>
          
          {% block nav %}
          <ul id="breadcrumbs">
          </ul>
          <hr style="width: 100%; color: #888888; margin: 0.2rem 0 1rem 0;"/>
          {{ macro::tree(currentsection=section.title, group=section.extra.group) }}
          {% endblock nav %}
        </nav>
        
        <main class="docs-content">
          {% block content %}
          
          {% set_global header_count = 0 %}
          {% for h2 in section.toc %}
          {% set_global header_count = header_count + 1 %}
          {% for h3 in h2.children %}
          {% set_global header_count = header_count + 1 %}
          {% for h4 in h3.children %}
          {% set_global header_count = header_count + 1 %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
          
          {% if header_count > 4 %}
          <ul id="toc">
            {% for h2 in section.toc %}
            <li><a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              {% if h2.children %}<ul>        
                {% for h3 in h2.children %}
                <li><a href="{{ h3.permalink | safe }}">{{ h3.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          
          <article>
            {{ section.content | safe }}
          </article>
          {% endblock content %}
        </main>
      </div>

      <script type="text/javascript" src="{{ get_url(path="js/themes.js") | safe }}"></script>

      <script>
        function burger() {
          var x = document.getElementById("bger");
          if (x.style.display === "block") {
            x.style.display = "none";
          } else {
            x.style.display = "block";
          }
        }
        </script>
    </body>
</html>
