{% extends "index.html" %}

{% block title %} {{ config.title }} | {{ section.title }} {% endblock title %}

{% block nav %}
    <ul id="breadcrumbs">
      {% for parent in section.ancestors %}
          {% set s = get_section(path=parent, include_pages=false) %}
            <li><a href="{{s.permalink}}">{{s.title}}</a>&nbsp;&#8594;&nbsp;</li>
      {% endfor %}
    <li>{{ section.title }}</li>
    </ul>
    <hr style="width: 100%; color: #888888; margin: 0.2rem 0 1rem 0;"/>
    {{ macro::tree(currentsection=section.title, currentpage="", group=section.extra.group) }} 
{% endblock nav %}
